<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
    "http://struts.apache.org/dtds/struts-2.0.dtd">

<struts>

	<!-- 渠道路由. -->
	<package name="channelroute" extends="default" namespace="/mp/system/channelroute">

		<!-- list. -->
		<action name="list" class="channelRouteAction" method="list">
			<result name="success">/pages/mp/system/channelroute/list.jsp</result>
			<result name="input">/pages/mp/system/channelroute/list.jsp</result>
		</action>

		<!-- detail. -->
		<action name="detail" class="channelRouteAction" method="detail">
			<result name="success">/pages/mp/system/channelroute/detail.jsp</result>
			<result name="input" type="redirectAction">list</result>
		</action>

	</package>

</struts>